<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399498700881-7o3e5ogpstggqhoooc1nbfn6tni5482q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399498700881-7o3e5ogpstggqhoooc1nbfn6tni5482q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399498700881-40dv83ua70pd90oi9e6mnv2hss08ssae.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDgvQjyXEF-blOtskmLr8Q1fIbFvOJas4</string>
	<key>GCM_SENDER_ID</key>
	<string>399498700881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davarbla.fboys2</string>
	<key>PROJECT_ID</key>
	<string>home-rental-56974</string>
	<key>STORAGE_BUCKET</key>
	<string>home-rental-56974.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:399498700881:ios:097880e45e26e9f7b53070</string>
</dict>
</plist>